# Node.js
node_modules/

# Compiled output
dist/

# Logs
logs/
*.log

# Environment variables
.env
.env.*

# Dependency lock files
package-lock.json
yarn.lock

# IDE files
.idea/
.vscode/

# Miscellaneous
.DS_Store
Thumbs.db

.angular/cache/
