<div class="row">
    <div class="col-3">
      <label style="font-weight: bold;">Poll ID</label>
      <input
        disabled
        type="text"
        class="text-nowrap text-truncate"
        [(ngModel)]="pollId"
      />
    </div>
    <div class="col-4">
      <label style="font-weight: bold;">Poll Name</label>
      <input
        type="text"
        class="text-nowrap text-truncate"
        [(ngModel)]="pollName"
      />
    </div>
    <div class="col-5">
      <button
        style="float: right;"
        class="btn btn-success btn-sm"
        (click)="upload()"
      >
        Add Poll
      </button>
    </div>
  </div>
  